* {
    /* outline: 3px solid white; */
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.highscore-page {
    display:flex;
    align-items: center;
}

main {
    display: flex;
    justify-self: center;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 20px;
    width: 70vh;

}

.quiz-pages {
    display: none;
}

.end-page {
    display: none;
}